@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #141b2b;
  --color-on-primary-container: #c0c6db;

  --color-secondary: #585f6c;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #dce2f3;
  --color-on-secondary-container: #5e6572;

  --color-background: #fcf8fa;
  --color-on-background: #1b1b1d;
  --color-surface: #fcf8fa;
  --color-on-surface: #1b1b1d;
  --color-surface-variant: #e5e2e3;
  --color-on-surface-variant: #45464c;

  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f4;
  --color-surface-container: #f0edee;
  --color-surface-container-high: #eae7e9;
  --color-surface-container-highest: #e5e2e3;

  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;

  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-sans: var(--font-inter);
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
}
